defintions:
  seasons: [2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]
  console_handler: &console_handler
    class: logging.StreamHandler
    level: INFO
    stream: ext://sys.stdout
    formatter: console
  console_formatter: &console_formatter
    format: '%(asctime)s [%(levelname)s]: %(message)s'

acquire:
  logging:
    version: 1
    disable_existing_loggers: False
    loggers:
      "": # root logger
        handlers: [console]
        level: DEBUG
    handlers:
      console: *console_handler
    formatters:
      console: *console_formatter
