name: build

on:
  pull_request:
    branches: [master]

jobs:
  build:
    if: github.event.pull_request.head.repo.fork == true
    concurrency: build_queue
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install library
        run: poetry install --no-interaction

      - name: Run tests
        run: |
          set -e
          source .venv/bin/activate

          make dvc_pull test prepare_local DBT_TARGET=prod
