name: Player Scores Data Pipeline (On Push)

on:
  push:
    branches: [master]

jobs:
  data-pipeline:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        environment-file: environment.yml
        activate-environment: player-scores
    - name: Update kaggle dataset
      env:
        # Kaggle API auth
        KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        # data.world API auth
        DW_AUTH_TOKEN: ${{ secrets.DW_AUTH_TOKEN }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_EC2_METADATA_DISABLED: true # https://github.com/aws/aws-cli/issues/5262
      run: |
        dvc pull

        (cd prep && python prep.py --datapackage-metadata && cp stage/dataset-metadata.json ../data/prep)
        
        python sync.py "${{ github.event.head_commit.message }}"
