name: sync-r2

on:
  workflow_run:
    workflows: ["build"]
    types: [completed]
    branches: [master]
  workflow_dispatch:

jobs:
  sync-r2:
    runs-on: ubuntu-latest
    container:
      image: dcaribou/transfermarkt-datasets:linux-amd64-master
    defaults:
      run:
        shell: bash -l {0}
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
      # see https://github.com/dcaribou/transfermarkt-datasets/issues/256
      - run: |
          git config --global --add safe.directory /__w/transfermarkt-datasets/transfermarkt-datasets
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v40
        with:
          files: |
            data/prep.dvc
      - name: pull data
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          dvc pull
      - name: sync
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
        run: |
          python scripts/synching/sync-r2.py
